{% extends "articles/base.html" %}

{% load static %}

{% block title %}Новости{% endblock %}

{% block content %}
  <div class="row">
    {% for article in object_list %}
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{% get_media_prefix %}{{ article.image }}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{ article.title }}</a>
            </h4>
            <p class="card-text">{{ article.text }}</p>
            {% for thema1 in article.themas.all %}
              <span class="badge badge-primary">{% if thema1.is_main %}{{ thema1.thema }}
                {% endif %}</span>
            {% endfor %}

            {% for thema2 in article.themas.all|dictsort:"thema.thema" %}
              <span class="badge badge-secondary">{% if not thema2.is_main %}{{ thema2.thema }}
                {% endif %}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}